//this file will be compiled to css/style.css

@import 'colors';
@import 'fonts';

body {
	background: $bg-color;
	color: $text-color;
}
h2 {
	color: $h2-text-color;
	font-family: sensory, helvetica-med, sans-serif;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
	margin: 7px 0;
	padding: 0;
	font-size: 20px;
}

h4 {
	position: absolute; 
	bottom: 0;
	text-align: center;
}

b {
	color: $text-color;
}

.section-header {
	text-align: center;
	margin-bottom: 30px;

	> * {
		margin: 0;
		padding: 0;
	}

	p {
		color: $subtitle-text-color;
	}
}

.weekly-special {
	height: 150px;
	overflow: scroll;
	margin-bottom: 30px;
	border: 1px solid $subtitle-text-color;

	img {
		float: left;
	}
	.special-desc {
		margin-left: 160px;
		vertical-align: top;

		p {
			color: $subtitle-text-color;
		}
	}
}

nav {
	font-family: helvetica-med;
	letter-spacing: 1px;
	text-shadow: 1px 1px black;
	text-transform: uppercase;
	display:flex;
	justify-content:space-between; 
}

header {
	padding: 7px 0;
}

nav {
	margin-top: 3px;
	a {
	color: $nav-text-color; 
	margin: 3px 0;
	padding: 5px 10px;
	border: 2px solid rgba(0,0,0,0);
	-webkit-transition: all 0.15s;
    transition: all 0.15s;
	}

	a:hover {
		text-decoration: none;
		color: $nav-text-color;
		border-color: $nav-text-color;

	}
}

.hero {
	height: 250px;
	background: pink;
}

.logo img {
	display: block;
	margin: 0 auto;
	height: 23px;
	width: 149px;
}
.content {
	> .row {
		margin: 10px;
	}

	> .first {
		margin: 0 -20px;
	}

}

.hero.specials {
	background: url("http://placehold.it/1400x1000") no-repeat center center;
	background-size: cover;
}

.footer-gradient {
	width: 100%;
	height: 10px;
	margin-bottom: 25px;
}

.gradient {
	background: $gradient-pink; //for browsers that don't support gradients
	background: -webkit-linear-gradient(left, $gradient-pink , $gradient-purple); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, $gradient-pink, $gradient-purple); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, $gradient-pink, $gradient-purple); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, $gradient-pink, $gradient-purple); /* Standard syntax */
}

footer {

	padding-bottom: 25px;
	text-align: center;
}

.key {
	font-weight: bold;
	text-transform: uppercase;
}
.value {
}

.contact-separator {
	margin: 30px 10%;
	height: 1px;
	background: $separator-color;
}

.separator {
	margin: 10px 10%;
	height: 1px;
	background: $separator-color;
}

.home {
	background: url("http://placehold.it/1080x1920") no-repeat center center;
	background-size: cover;
	height:100vh; 
}

.tagline{
	position: relative;
	top: 100px;
	font-size:x-large;
}

.contact {
	background: url("http://placehold.it/1400x1000") no-repeat center center;
	background-size: cover;
}
.contact-content {
	text-align: center; 
}

.address {
	a {
	color: white; 
	font-size:120%;
	border: 3px solid white; 
	padding: 5px 10px;
	}
}

.menuhero {
	background: url("http://placehold.it/1400x1000") no-repeat center center;
	background-size: cover;
}

.instructions {
	font-size: 90%;
}

.category {
	background: url("http://placehold.it/700x500");
	width: 100%;
	height: 90px; 
	border-top: 1px solid white; 
	border-bottom: 1px solid white;
	text-align: center; 
}

.category-label {
	line-height: 100px; 
	border: 3px solid white; 
	padding: 4px 25px;
	font-family: helvetica-med;
	font-size: 120%;
}
