//this file will be compiled to css/style.css

@import 'colors';
@import 'fonts';

body {
	background: $bg-color;
}

nav {
	font-family: helvetica-bold;
	text-transform: uppercase;
	position:fixed; 
}

nav {
	a {
	color: white; 
	margin-right:5%;
	margin-left: 5%;
	}
}